# dependencies
node_modules
.DS_Store

# production
build

# big audio data not for repo (should be filled while deployment)
src/audio

# local trash
.sass-cache
npm-debug.log

# IDEs & editors
*.sublime-workspace
.idea

# webpack stats analyzer file
stats.json

# tmp
notes.txt
